{% extends "base.html" %}

{% block content %}


<div id="ic6uek" class="gdp-row">
  <div id="iiupas" class="cell">
    <div class="gpd-box">
      <div id="ieahds" class="gpd-box">
        <h1 id="i0dt5a" class="gpd-header">My Background
        </h1>
        <div id="idz7dy" class="gpd-text">Early in my career I became interested in automation and answering questions with data. This curiosity encouraged me teach myself programming and pursue a Master's in Data Science. 
          I've had roles within industries including financial services, healthcare and higher education and have experience in areas such as machine learning, business intelligence and data architecture. 
          I am passionate about learning and the many roles and projects I've worked on have given me exposure to many technologies and data problems. &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>

<section id="ijuo8g" class="gpd-section">
  <div id="ituc1f" class="gpd-container">
    <div id="iwikx" class="gdp-row">
      <div id="ihy4a" class="cell">
        <div>
          <div id="inmm9" class="col-lg-7 text-main">
            <section class="timeline pt-80 pb-80">
              <div class="content">
                  <h5 id="timeline-header" class="timeline-text">Timeline</h5>
              </div>
              <ul id="ixrwl">
                <li id="iifftf">
                  <div id="iqd8v" class="content">
                    <h4 id="ihq8r6" class="gpd-header">
                      <time id="i6lme4">Data Engineer | Associate
                      </time>
                    </h4>
                    <div id="i8k5ai" class="gdp-row">
                      <div id="i9fo5f" class="cell">
                        <div id="iivghq" class="gpd-box">
                          <a id="iaxasg" class="gpd-link-box">
                            <img id="iqt5vz" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/bb6b2aa8733840cb89277ed904aadb58_sagence-logo.jpeg"/>
                          </a>
                          <b id="i5mpp5">Sagence
                          </b>
                        </div>
                        <p id="itwixk">
                        </p>
                      </div>
                    </div>
                    <p id="iodxg">April 2021 - Present
                    </p>
                  </div>
                </li>
                <li id="iifftf">
                  <div id="iqd8v" class="content">
                    <h4 id="ihq8r6" class="gpd-header">
                      <time id="i6lme4">Data Engineer
                      </time>
                    </h4>
                    <div id="i8k5ai" class="gdp-row">
                      <div id="i9fo5f" class="cell">
                        <div id="iivghq" class="gpd-box">
                          <a id="iaxasg" class="gpd-link-box">
                            <img id="iqt5vz" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/8058fc7db4be4822a441f044f1ef4190_cn_logo.png"/>
                          </a>
                          <b id="i5mpp5">NinjaHoldings
                          </b>
                        </div>
                        <p id="itwixk">
                        </p>
                      </div>
                    </div>
                    <p id="iodxg">November 2020 - April 2021
                    </p>
                  </div>
                </li>
                <li id="iupd7t" class="li_experience">
                  <div id="i8unrl" class="content">
                    <h4 id="i8facw" class="gpd-header">
                      <time id="iq71it">
                        <span style="display: inline !important;">M.S. in Data Science
                        </span>
                      </time>
                    </h4>
                    <div id="i533w4" class="gdp-row">
                      <div id="ioilio" class="cell">
                        <div id="iqyg4x" class="gpd-box">
                          <a class="gpd-link-box">
                            <img id="iaixmb" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/435764e5704941068323f418b3956824_depaul_logo.png"/>
                          </a>
                          <div id="ir95yv" class="gpd-text">DePaul University
                            <br>
                          </div>
                        </div>
                        <p id="izjuhy">
                        </p>
                      </div>
                    </div>
                    <p id="i2ru1g">March 2020 - Present (Exp. Graduation 2022)
                    </p>
                  </div>
                </li>
                <li id="iq013">
                  <div id="i950q2" class="content">
                    <h4 id="iqqhm1" class="gpd-header">
                      <time>
                        <span style="display: inline !important;">Data Scientist
                        </span>
                        <br>
                      </time>
                    </h4>
                    <div id="iokfko" class="gdp-row">
                      <div id="ixwaj4" class="cell">
                        <div id="iy9lbk" class="gpd-box">
                          <a class="gpd-link-box">
                            <img id="id0q5r" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/856f944ed2aa450a8b03abfd74e26831_hcrc_logo.png"/>
                          </a>
                          <div id="ixefjz" class="gpd-text">Human Capital Research Corporation
                          </div>
                        </div>
                        <p id="ix7ifd">
                        </p>
                      </div>
                    </div>
                    <p>October 2018 - October 2020
                    </p>
                  </div>
                </li>
                <li id="inaqp">
                  <div id="ionx67" class="content">
                    <h4 id="izg59w" class="gpd-header">
                      <time id="iq71it">
                        <span style="display: inline !important;">Staff Consultant
                        </span>
                        <br>
                      </time>
                    </h4>
                    <div id="ihbfcl" class="gdp-row">
                      <div id="ijmcyo" class="cell">
                        <div id="iuhtos" class="gpd-box">
                          <a class="gpd-link-box">
                            <img id="ilh1jt" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/fcbb6944928b4ad19bf7f49db1020e34_bt_logo.png"/>
                          </a>
                          <div id="ijzjvi" class="gpd-text">Baker Tilly
                          </div>
                        </div>
                        <p id="i44d2g">
                        </p>
                      </div>
                    </div>
                    <p>June 2018 - October 2018
                    </p>
                  </div>
                </li>
                <li id="i0lkuh">
                  <div id="i3jyii" class="content">
                    <h4 id="i509hf" class="gpd-header">
                      <time id="iq71it">
                        <span style="display: inline !important;">B.B.A. in Finance and Operations &amp; Technology Management
                        </span>
                        <br>
                      </time>
                    </h4>
                    <div id="i82kgs" class="gdp-row">
                      <div id="iwzc9d" class="cell">
                        <div id="i3vd3o" class="gpd-box">
                          <a class="gpd-link-box">
                            <img id="ivf3xr" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/9c692723c0514e3c87b73eb9510e5a6f_wisc_logo.png"/>
                          </a>
                          <div id="iz7x12" class="gpd-text">University of Wisconsin-Madison
                          </div>
                        </div>
                        <p id="i0mizt">
                        </p>
                      </div>
                    </div>
                    <p>September 2014 - May 2018
                    </p>
                  </div>
                </li>
                <li id="iyx52r">
                  <div id="i3zltl" class="content">
                    <h4 id="iskp2f" class="gpd-header">
                      <time id="iq71it">
                        <span style="display: inline !important;">Student Tableau Developer
                        </span>
                        <br>
                      </time>
                    </h4>
                    <div id="ik7m14" class="gdp-row">
                      <div id="i5jhyb" class="cell">
                        <div id="ita7ea" class="gpd-box">
                          <a class="gpd-link-box">
                            <img src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/9c692723c0514e3c87b73eb9510e5a6f_wisc_logo.png" id="ip3ibg"/>
                          </a>
                          <div id="iir7o8" class="gpd-text">UW-Madison Academic Planning &amp; Institutional Research
                          </div>
                        </div>
                        <p id="iomrk3">
                        </p>
                      </div>
                    </div>
                    <p>January 2018 - June 2018
                    </p>
                  </div>
                </li>
                <li id="i2csil">
                  <div id="ic121w" class="content">
                    <h4 id="iwqgqd" class="gpd-header">
                      <time id="iq71it">Summer Analyst
                        <br>
                      </time>
                    </h4>
                    <div id="i4b5sz" class="gdp-row">
                      <div id="i3thh3" class="cell">
                        <div id="i837ix" class="gpd-box">
                          <a class="gpd-link-box">
                            <img id="ie5lkk" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/53ebb423c52a4833a6c9cb950cca7519_jpm.png"/>
                          </a>
                        </div>
                        <p id="iz9cxj">
                        </p>
                      </div>
                    </div>
                    <p>June 2017 - August 2017
                    </p>
                  </div>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="iva9i" class="gpd-section">
</section>

{% endblock %}


