{% extends "base.html" %}

{% block content %}

<section id="ijuo8g" class="gpd-section">
    <div id="ituc1f" class="gpd-container">
      <div id="iwikx" class="gdp-row">
        <div id="ihy4a" class="cell">
          <div id="ij893">
            <div id="inmm9" class="col-lg-7 text-main">
              <section id="ica4o" class="timeline pt-80 pb-80">
                <div class="menu-content pb-40">
                  <div class="title text-center">
                    <h5 id="if61g" class="bio-text">My Experience 
                    </h5>
                  </div>
                </div>
                <ul id="ixrwl">
                  <li id="iifftf">
                    <div id="iqd8v" class="content">
                      <h4 id="ihq8r6">
                        <time id="i6lme4">Business Analyst
                        </time>
                      </h4>
                      <div id="i8k5ai" class="gdp-row">
                        <div id="i9fo5f" class="cell">
                          <div id="iivghq">
                            <a id="iaxasg" class="gpd-link-box">
                              <img id="iqt5vz" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/8058fc7db4be4822a441f044f1ef4190_cn_logo.png"/>
                            </a>
                            <b id="i5mpp5">CreditNinja
                            </b>
                          </div>
                        </div>
                      </div>
                      <p>November 2020 - Present
                      </p>
                    </div>
                  </li>
                  <li id="iupd7t">
                    <div id="i8unrl" class="content">
                      <h4 id="i8facw">
                        <time id="ie92lx">
                          <span style="color: rgb(51, 51, 51); display: inline !important;">M.S. in Data Science
                          </span>
                        </time>
                      </h4>
                      <div id="i533w4" class="gdp-row">
                        <div id="ioilio" class="cell">
                          <div id="iqyg4x">
                            <a id="iyqyio" class="gpd-link-box">
                              <img id="iaixmb" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/435764e5704941068323f418b3956824_depaul_logo.png"/>
                            </a>
                            <div id="ir95yv" class="gpd-text">DePaul University
                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p id="i2ru1g">Exp. Graduation 2022
                      </p>
                    </div>
                  </li>
                  <li>
                    <div id="i950q2" class="content">
                      <h4 id="iqqhm1">
                        <time id="i4b7zi">
                          <span style="display: inline !important;">Research Analyst
                          </span>
                          <br>
                        </time>
                      </h4>
                      <div id="iokfko" class="gdp-row">
                        <div id="ixwaj4" class="cell">
                          <div id="iy9lbk">
                            <a id="idr7f4" class="gpd-link-box">
                              <img id="id0q5r" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/856f944ed2aa450a8b03abfd74e26831_hcrc_logo.png"/>
                            </a>
                            <div id="ixefjz" class="gpd-text">Human Capital Research Corporation
                            </div>
                          </div>
                        </div>
                      </div>
                      <p id="igg2gk">October 2018 - October 2020
                      </p>
                    </div>
                  </li>
                  <li>
                    <div id="ionx67" class="content">
                      <h4 id="izg59w">
                        <time id="iaybca">
                          <span style="display: inline !important;">Staff Consultant
                          </span>
                          <br>
                        </time>
                      </h4>
                      <div id="ihbfcl" class="gdp-row">
                        <div id="ijmcyo" class="cell">
                          <div id="iuhtos">
                            <a id="i6rx28" class="gpd-link-box">
                              <img id="ilh1jt" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/fcbb6944928b4ad19bf7f49db1020e34_bt_logo.png"/>
                            </a>
                            <div id="ijzjvi" class="gpd-text">Baker Tilly
                            </div>
                          </div>
                        </div>
                      </div>
                      <p id="iw92vq">June 2018 - October 2018
                      </p>
                    </div>
                  </li>
                  <li>
                    <div id="i3jyii" class="content">
                      <h4 id="i509hf">
                        <time id="iq71it">
                          <span style="display: inline !important;">B.B.A. in Finance and Operations &amp; Technology Management
                          </span>
                          <br>
                        </time>
                      </h4>
                      <div id="i82kgs" class="gdp-row">
                        <div id="iwzc9d" class="cell">
                          <div id="i3vd3o">
                            <a id="ioc6ig" class="gpd-link-box">
                              <img id="ivf3xr" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/9c692723c0514e3c87b73eb9510e5a6f_wisc_logo.png"/>
                            </a>
                            <div id="iz7x12" class="gpd-text">University of Wisconsin-Madison
                            </div>
                          </div>
                        </div>
                      </div>
                      <p id="iy3onk">September 2014 - May 2018
                      </p>
                    </div>
                  </li>
                  <li id="iyx52r">
                    <div id="i3zltl" class="content">
                      <h4 id="iskp2f">
                        <time id="ijdc3d">
                          <span style="display: inline !important;">Student Tableau Developer
                          </span>
                          <br>
                        </time>
                      </h4>
                      <div id="ik7m14" class="gdp-row">
                        <div id="i5jhyb" class="cell">
                          <div id="ita7ea">
                            <a id="i14vjj" class="gpd-link-box">
                              <img src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/9c692723c0514e3c87b73eb9510e5a6f_wisc_logo.png" id="ip3ibg"/>
                            </a>
                            <div id="iir7o8" class="gpd-text">UW-Madison Academic Planning &amp; Institutional Research
                            </div>
                          </div>
                        </div>
                      </div>
                      <p id="i4u8dr">January 2018 - June 2018
                      </p>
                    </div>
                  </li>
                  <li>
                    <div id="ic121w" class="content">
                      <h4 id="iwqgqd">
                        <time id="iexyih">Summer Analyst
                          <br>
                        </time>
                      </h4>
                      <div id="i4b5sz" class="gdp-row">
                        <div id="i3thh3" class="cell">
                          <div id="i837ix">
                            <a id="i227w2" class="gpd-link-box">
                              <img id="ie5lkk" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/53ebb423c52a4833a6c9cb950cca7519_jpm.png"/>
                            </a>
                          </div>
                        </div>
                      </div>
                      <p id="ikoxul">June 2017 - August 2017
                      </p>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="ig35hg">
  </div>
  <section id="iva9i" class="gpd-section">
  </section>
  <style>html {
    scroll-behavior: smooth;
    }
  </style>

      <style>
        a.page-brand-badge {
          border-radius: 3px !important;
          background-color: white !important;
          box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
          padding: 5px 7px !important;
          font-family: Helvetica, sans-serif !important;
          font-size: 12px !important;
          text-decoration: none !important;
          color: #555 !important;
          transition: box-shadow 0.25s !important;
        }
        a.page-brand-badge:hover {
          box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 3px 10px rgba(0,0,0,0.1);
        }
      </style>

{% endblock %}
