{% extends "base.html" %}

{% block content %}


<div id="ic6uek" class="gdp-row">
  <div id="iiupas" class="cell">
    <!-- <div id="ieahds" class="gpd-box">
      <h1 id="i0dt5a" class="gpd-header">My Favorite Podcasts
      </h1>
    </div> -->
    <div class="gpd-box">
      <div id="ieahds" class="gpd-box">
        <h1 id="i0dt5a" class="gpd-header">My Favorite Podcasts
        </h1>
        <div id="idz7dy" class="gpd-text">I absolutely love podcasts, many of these episodes are timeless and would highly reccommend any of these if you are looking for new content! &nbsp;
        </div>
      </div>
    </div>
    

    <div id="ivr5w" class="gdp-row gpd-grid">
      <div id="ig94b" class="cell gpd-clm">
        <div id="im39q" class="gpd-box">
          <a id="iedrs" href="https://gimletmedia.com/shows/reply-all" target="_blank" class="gpd-link-box main-logo-box">
            <img id="i0175h" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/95a0fc568b434eee87c528ec6d2eb039_reply_all.jpg"/>
          </a>
          <div class="gpd-box" id="i3mddf">
            <a id="incuh" href="https://gimletmedia.com/shows/reply-all/n8hw3d/149-3050-feral-hogs" target="_blank" class="gpd-link">30-50 Feral Hogs
              <br>
            </a>
          </div>
          <div class="gpd-box" id="ir10j6">
            <a id="iuzhh" href="https://gimletmedia.com/shows/reply-all/v4hv68/151-thank-you-for-noticing" target="_blank" class="gpd-link">Thank You for Noticing
              <br>
            </a>
          </div>
          <div class="gpd-box" id="iw5irh">
            <a id="ixhq2" href="https://gimletmedia.com/shows/reply-all/o2ho6j/56-zardulu" target="_blank" class="gpd-link">Zardulu
              <br>
            </a>
          </div>
        </div>
      </div>
      <div id="ibdx4f" class="cell gpd-clm">
        <div id="i9muxx" class="gpd-box">
          <a id="iw8jf" href="https://gimletmedia.com/shows/howtosaveaplanet" target="_blank" class="gpd-link-box main-logo-box">
            <img id="itx15" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/e00fa9894e0d472a9aef7fd8cb7007a5_howtosaveaplanet.jpeg"/>
          </a>
          <div class="gpd-box" id="i0wvsv">
            <a id="ic6pe" href="https://gimletmedia.com/shows/howtosaveaplanet/wbhn73b/the-green-wave" target="_blank" class="gpd-link">The Green Wave
              <br>
            </a>
          </div>
          <div class="gpd-box" id="i37ffr">
            <a id="i5t83" href="https://gimletmedia.com/shows/howtosaveaplanet/mehklx8/breaking-buildings-addiction-to-fossil" target="_blank" class="gpd-link">Breaking Buildings' Addiction to Fossil Fuels
              <br>
            </a>
          </div>
          <div class="gpd-box" id="ibtuxk">
            <a id="izzhhz" href="https://gimletmedia.com/shows/howtosaveaplanet/94hblz9/are-electric-cars-really-better-for-the" target="_blank" class="gpd-link">Are Electric Cars Really Better for the Climate
              <br>
            </a>
          </div>
        </div>
      </div>
      <div id="idvfl" class="cell gpd-clm">
        <div id="ie3b1" class="gpd-box">
          <a id="i2mqj" href="" target="_blank" class="gpd-link-box main-logo-box">
            <img id="igep8" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/5db2533dca814ac5a6bfe3f29c44ef92_sway.jpg"/>
          </a>
          <div class="gpd-box" id="i300ap">
            <a id="iczin" href="https://podcasts.apple.com/us/podcast/movie-theaters-are-dying-did-jason-kilar-deal-the-final-blow/id1528594034?i=1000501950064" target="_blank" class="gpd-link">Movie Theaters Are Dying
              <br>
            </a>
          </div>
          <div class="gpd-box" id="i76vpl">
            <a id="ioma4" href="https://podcasts.apple.com/us/podcast/food-delivery-is-keeping-uber-alive-will-it-kill-restaurants/id1528594034?i=1000505334756" target="_blank" class="gpd-link">Food Delivery is Keeping Uber Alive. Will it Kill Restaurants?
              <br>
            </a>
          </div>
          <div class="gpd-box" id="iymfca">
            <a id="i590a" href="https://podcasts.apple.com/us/podcast/this-astrologer-has-some-things-to-tell-kara-swisher/id1528594034?i=1000503654196" target="_blank" class="gpd-link">This Astrologer Has Some things to Tell Kara Swisher
              <br>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gdp-row gpd-grid" id="iy7agf">
      <div class="cell gpd-clm" id="ixlkoh">
        <div class="gpd-box" id="ik1xaf">
          <a id="ird46v" href="https://podcasts.apple.com/us/podcast/this-astrologer-has-some-things-to-tell-kara-swisher/id1528594034?i=1000503654196" target="_blank" class="gpd-link-box main-logo-box">
            <img id="iuzs29" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/3e52969aaff8413ba25614ecc6b32425_code_switch_2.jpeg"/>
          </a>
          <div class="gpd-box" id="irnnd6">
            <a id="i74h9g" href="https://www.npr.org/2020/01/22/798367810/ask-code-switch-what-about-your-friends" target="_blank" class="gpd-link">What About Your Friends
              <br>
            </a>
          </div>
          <div class="gpd-box" id="iurmdi">
            <a id="it4ky7" href="https://www.npr.org/2020/03/06/812864654/the-limits-of-empathy" target="_blank" class="gpd-link">The Limits of Empathy
              <br>
            </a>
          </div>
          <div class="gpd-box" id="ih1thf">
            <a id="ix0192" href="https://www.npr.org/2019/12/22/790639980/beautiful-lies" target="_blank" class="gpd-link">Beautiful Lies
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="icczov">
        <div class="gpd-box" id="iabi1x">
          <a id="ic4uua" href="http://revisionisthistory.com" target="_blank" class="gpd-link-box main-logo-box">
            <img id="igxl6x" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/a5be3202f24b4c6f8faaf55dd2713481_revisionist_2.jpeg"/>
          </a>
          <div class="gpd-box" id="ivycnx">
            <a id="ifkelp" href="http://revisionisthistory.com/episodes/11-a-good-walk-spoiled" target="_blank" class="gpd-link">A Good Walk Spoiled
              <br>
            </a>
          </div>
          <div class="gpd-box" id="icb4rn">
            <a id="izhfrl" href="http://revisionisthistory.com/episodes/08-blame-game" target="_blank" class="gpd-link">Blame Game
              <br>
            </a>
          </div>
          <div class="gpd-box" id="ii580y">
            <a id="ifk18j" href="http://revisionisthistory.com/episodes/44-the-powerball-revolution" target="_blank" class="gpd-link">The Powerball Revolution
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="i5415g">
        <div class="gpd-box" id="iur1aw">
          <a id="icn55n" href="https://www.npr.org/podcasts/735466018/the-anthropocene-reviewed" target="_blank" class="gpd-link-box main-logo-box">
            <img id="io0iky" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/cb00da5cd972426fbdae950883a4acbe_anthropocene_2.jpeg"/>
          </a>
          <div class="gpd-box" id="i9kbmh">
            <a id="i3j0sm" href="https://www.npr.org/podcasts/735466018/the-anthropocene-reviewed" target="_blank" class="gpd-link">The Yips and CNN
              <br>
            </a>
          </div>
          <div class="gpd-box" id="ipse46">
            <a id="iw7wga" href="https://www.npr.org/podcasts/735466018/the-anthropocene-reviewed" class="gpd-link">Monopoly and Academic Decathlon
              <br>
            </a>
          </div>
          <div class="gpd-box" id="ipolsa">
            <a id="iq2zft" href="https://www.npr.org/podcasts/735466018/the-anthropocene-reviewed" class="gpd-link">Canada Geese and Diet Dr Pepper
              <br>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gdp-row gpd-grid" id="ix2orf">
      <div class="cell gpd-clm" id="ium3ch">
        <div class="gpd-box" id="itvwxw">
          <a id="inunxl" href="https://www.codenewbie.org/podcast" target="_blank" class="gpd-link-box main-logo-box">
            <img id="i3qapt" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/dccb99795b0e4203bfeaa02185c8f317_codenewbie.png"/>
          </a>
          <div class="gpd-box" id="iyi4ft">
            <a id="imfhck" href="https://www.codenewbie.org/podcast/why-personal-projects-are-so-important" target="_blank" class="gpd-link">Why Personal Projects are so Important
              <br>
            </a>
          </div>
          <div class="gpd-box" id="is9puh">
            <a id="iush92" href="https://www.codenewbie.org/podcast/how-to-think-about-accessibility-and-empowerment" target="_blank" class="gpd-link">How to Think About Accessibility and Empowerment
              <br>
            </a>
          </div>
          <div id="i75dbn" class="gpd-box">
            <a id="il51hg" href="https://www.codenewbie.org/podcast/how-to-build-tech-for-social-justice" target="_blank" class="gpd-link">How to Build Tech for Social Justice
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="i010mg">
        <div class="gpd-box" id="inqouz">
          <a id="ir062g" href="https://towardsdatascience.com/podcast/home" class="gpd-link-box main-logo-box">
            <img id="i454y3" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/fda3ad31b5c5456a8f114100526c9186_tds.jpeg"/>
          </a>
          <div class="gpd-box" id="ic2h2g">
            <a id="iihf2o" href="https://towardsdatascience.com/podcast/home" target="_blank" class="gpd-link">Plotly
              <br>
            </a>
          </div>
          <div class="gpd-box" id="ims66u">
            <a id="i1madm" href="https://towardsdatascience.com/podcast/home" target="_blank" class="gpd-link">Building a Career in Data Science
              <br>
            </a>
          </div>
          <div class="gpd-box" id="irz6hj">
            <a id="i11dhj" href="https://towardsdatascience.com/podcast/home" target="_blank" class="gpd-link">The Brave New World of Data Engineering
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="iz1vpe">
      </div>
    </div>
  </div>
</div>
<div class="gdp-row" id="im7v1m">
  <div class="cell" id="ivy0wu">
    <div class="gpd-box">
      <div id="ieahds" class="gpd-box">
        <h1 id="i0dt5a" class="gpd-header">My Reading List
        </h1>
        <div id="idz7dy" class="gpd-text">Not much of a reader, but these books have been an important part of my data science journey&nbsp;
        </div>
      </div>
    </div>

    <div class="gdp-row gpd-grid" id="iwmgbm">
      <div class="cell gpd-clm" id="i5353c">
        <div class="gpd-box" id="i0f1om">
          <a href="https://www.effectiveengineer.com/book" target="_blank" id="i1tswj" class="gpd-link-box main-logo-box">
            <img id="i68z4v" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/bd11b9acac4a405d9fc27137d5ad6dab_25238425._uy630_sr1200630_.jpeg"/>
          </a>
          <div class="gpd-box" id="iahxgl">
            <a href="https://twitter.com/edmondlau" target="_blank" id="izav5c" class="gpd-link">By: Edmond Lau
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="i9pgbq">
        <div class="gpd-box" id="i91k0i">
          <a href="http://www.storytellingwithdata.com/" target="_blank" id="iuje0i" class="gpd-link-box main-logo-box">
            <img id="ii75uv" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/1c48a4ef540c488eb8db6c36c5dc0b5a_storytelling-with-data-by-cole-nussbaumer-knaflic.jpeg"/>
          </a>
          <div class="gpd-box" id="iupui3">
            <a href="http://www.storytellingwithdata.com/" target="_blank" id="imzpjn" class="gpd-link">By: Cole Nussbaumer Knaflic
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="iq87t9">
        <div class="gpd-box" id="idzwui">
          <a href="http://algorithmsofoppression.com/" target="_blank" id="i10m9d" class="gpd-link-box main-logo-box">
            <img id="ia3wjc" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/84c711dbaaa94628b330ea508754c453_algos.jpeg"/>
          </a>
          <div class="gpd-box" id="io3vqt">
            <a href="https://safiyaunoble.com/" target="_blank" id="iqb0ml" class="gpd-link">By: Safiya Umoja Noble
              <br>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gdp-row gpd-grid" id="iunndx">
      <div class="cell gpd-clm" id="i1r1ap">
        <div class="gpd-box" id="i7sc1h">
          <a href="https://mitpress.mit.edu/books/artificial-unintelligence" target="_blank" id="itybcc" class="gpd-link-box main-logo-box">
            <img id="ivccxb" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/eb60e005e9894c3eb72acc0882e82e1f_artificial.jpeg"/>
          </a>
          <div class="gpd-box" id="iss6sg">
            <a href="https://twitter.com/merbroussard" target="_blank" id="iyon6a" class="gpd-link">By: Meredith Broussard
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="ikjyht">
        <div class="gpd-box" id="i28kkd">
          <a href="https://virginia-eubanks.com/" target="_blank" id="ivjtoq" class="gpd-link-box main-logo-box">
            <img id="itw2fi" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/fa19c435e8724ad2aac5ef7bb88f860f_automating.jpeg"/>
          </a>
          <div class="gpd-box" id="i0hja4">
            <a href="https://virginia-eubanks.com/" target="_blank" id="immhf5" class="gpd-link">By: Virginia Eubanks
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="i554ap">
        <div class="gpd-box" id="isqvfh">
          <a href="https://gimletmedia.com/shows/reply-all" target="_blank" class="gpd-link-box main-logo-box" id="iq0017">
            <img id="i7p7z1" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/e19721f472e44453b74a8cda0d69ff31_data-science-from-scratch.jpeg"/>
          </a>
          <div class="gpd-box" id="icd81v">
            <a href="https://joelgrus.com/" target="_blank" id="i1vwkh" class="gpd-link">By: Joel Grus
              <br>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gdp-row gpd-grid" id="i5tkjj">
      <div class="cell gpd-clm" id="ibgoep">
        <div class="gpd-box" id="imb9qz">
          <a href="http://www.hannahfry.co.uk/helloworld/" target="_blank" id="ie1dyj" class="gpd-link-box main-logo-box">
            <img id="ijslzl" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/85fe8253285d4085bd03470566abb9bd_hello-world-bookmain.jpeg"/>
          </a>
          <div class="gpd-box" id="iqls1h">
            <a href="http://www.hannahfry.co.uk/helloworld/" target="_blank" id="ipjrgz" class="gpd-link">By: Hannah Fry
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="itymx5">
        <div class="gpd-box" id="i2k88s">
          <a href="https://learning.oreilly.com/library/view/hands-on-machine-learning/9781492032632/" target="_blank" id="izo0dq" class="gpd-link-box main-logo-box">
            <img id="iljvjm" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/3af1521b815e4a338101f3df5be65645_scikit.jpeg"/>
          </a>
          <div class="gpd-box" id="iqswaq">
            <a href="https://gimletmedia.com/shows/reply-all" target="_blank" id="ibvmrx" class="gpd-link">By: Aurelien Geron
              <br>
            </a>
          </div>
        </div>
      </div>
      <div class="cell gpd-clm" id="i73jgf">
      </div>
    </div>
  </div>
</div>
</section>
<section id="iva9i" class="gpd-section">
</section>

{% endblock %}


  
  


