{% extends "base.html" %}

{% block content %}
    <section id="i1twsx" class="gpd-section">
      <div id="ipexbh" class="gpd-container">
        <div data-column="1" id="ijpzi" class="cell">
          <h2 id="iepkg">Hi I'm Adam!
          </h2>
          <div id="ikuk2">I'm a data professional and below is a collection of my interactive web applications. These contain some programming challenges I've worked on, fun data visualizations and deployed Machine Learning models.
            Hope you enjoy!
          </div>
        </div>
      </div>
    </section>
    
    <section id="izilb" class="gpd-section">
      <div id="i99gw" class="gpd-container">
        <div id="ifwsu" class="gdp-row">

          <div id="ihiw7" class="cell card-services">
            <a href="{{ url_for('/math/') }}" id="i7z4y" class="gpd-link-box">
              <span id="iftxj" class="gpd-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M18.6 6.62C21.58 6.62 24 9 24 12c0 2.96-2.42 5.37-5.4 5.37-1.45 0-2.8-.56-3.82-1.57L12 13.34l-2.83 2.51c-.97.97-2.33 1.53-3.77 1.53C2.42 17.38 0 14.96 0 12s2.42-5.38 5.4-5.38c1.44 0 2.8.56 3.82 1.58L12 10.66l2.83-2.51c.97-.97 2.33-1.53 3.77-1.53M7.8 14.39L10.5 12 7.84 9.65c-.68-.68-1.53-1.03-2.44-1.03C3.53 8.62 2 10.13 2 12c0 1.87 1.53 3.38 3.4 3.38.91 0 1.76-.35 2.4-.99m8.4-4.78L13.5 12l2.66 2.35c.68.68 1.54 1.03 2.44 1.03 1.87 0 3.4-1.51 3.4-3.38 0-1.87-1.53-3.38-3.4-3.38-.91 0-1.76.35-2.4.99z">
                  </path>
                </svg>
              </span>
            </a>
            <div id="iljkl" class="gpd-text">Happy Prime</div>
            <div id="ik072" class="gpd-text">Calculator to determine whether an integer is happy or sad</div>
        </div>

        <div id="ispxj" class="cell card-services" data-gjs-type="grid-item" data-gjs-view="">
          <a href="{{ url_for('/ellipses/') }}" id="ilzv5" class="gpd-link-box" data-gjs-type="link-box" data-gjs-view=""><span id="iwqq1" class="gpd-icon" data-gjs-type="icon-v2" data-gjs-view=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-gjs-type="svg" data-gjs-view="">
            <path d="M23 9v6h-2.65c-.97 2.12-2.92 3.78-5.35 4.54V22H9v-2.46C5.5 18.45 3 15.5 3 12c0-4.42 4.03-8 9-8 3.78 0 7 2.07 8.35 5H23m-6 6V9h1.06C16.85 7.21 14.59 6 12 6c-3.87 0-7 2.69-7 6 0 2.39 1.64 4.46 4 5.42V16h6v1.42c1.29-.52 2.35-1.37 3.06-2.42H17m2-2h2v-2h-2v2m-8 7h2v-2h-2v2z" data-gjs-type="svg-in" data-gjs-view="">
            </path>
            </svg></span></a>
          <div id="ie1uk" class="gpd-text" data-gjs-type="text" data-gjs-view="">Random Ellipses
          </div>
          <div id="its71" class="gpd-text" data-gjs-type="text" data-gjs-view="">Given two ellipses, determine their overlapping area with a pseudo random number generator. 
          </div>
        </div>

        <div id="ispxj" class="cell card-services" data-gjs-type="grid-item" data-gjs-view="">
          <a href="" id="ilzv5" class="gpd-link-box" data-gjs-type="link-box" data-gjs-view=""><span id="iwqq1" class="gpd-icon" data-gjs-type="icon-v2" data-gjs-view=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-gjs-type="svg" data-gjs-view="">
            <path d="M9 11H7v2h2m4 2h-2v2h2m6 2H5V5h14M3 21h18V3H3m14 8h-2v2h2m-4-2h-2v2h2m0-6h-2v2h2V7z" data-gjs-type="svg-in" data-gjs-view="">
            </path>
            </svg></span></a>
          <div id="ie1uk" class="gpd-text" data-gjs-type="text" data-gjs-view="">Project
          </div>
          <div id="its71" class="gpd-text" data-gjs-type="text" data-gjs-view="">Brief description of project
          </div>
        </div>

    </section>

    <!-- <section id="izilb" class="gpd-section">
      <div id="i99gw" class="gpd-container">
        <div id="ifwsu" class="gdp-row">

        <div id="ispxj" class="cell card-services" data-gjs-type="grid-item" data-gjs-view="">
          <a href="" id="ilzv5" class="gpd-link-box" data-gjs-type="link-box" data-gjs-view=""><span id="iwqq1" class="gpd-icon" data-gjs-type="icon-v2" data-gjs-view=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-gjs-type="svg" data-gjs-view="">
            <path d="M7.2 11.2c1.77 0 3.2 1.43 3.2 3.2 0 1.77-1.43 3.2-3.2 3.2-1.77 0-3.2-1.43-3.2-3.2 0-1.77 1.43-3.2 3.2-3.2m7.6 4.8c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m.4-12a4.801 4.801 0 0 1 0 9.6 4.801 4.801 0 0 1 0-9.6z" data-gjs-type="svg-in" data-gjs-view="">
            </path>
            </svg></span></a>
          <div id="ie1uk" class="gpd-text" data-gjs-type="text" data-gjs-view="">Project
          </div>
          <div id="its71" class="gpd-text" data-gjs-type="text" data-gjs-view="">Brief description of project
          </div>
        </div>

    </section> -->
    

    <div id="ig35hg">
    </div>
    <section id="iva9i" class="gpd-section">
      <div id="iufec" class="gpd-container">
      </div>
    </section>
    <style>html {
      scroll-behavior: smooth;
      }
    </style>

      <style>
        a.page-brand-badge {
          border-radius: 3px !important;
          background-color: white !important;
          box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
          padding: 5px 7px !important;
          font-family: Helvetica, sans-serif !important;
          font-size: 12px !important;
          text-decoration: none !important;
          color: #555 !important;
          transition: box-shadow 0.25s !important;
        }
        a.page-brand-badge:hover {
          box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 3px 10px rgba(0,0,0,0.1);
        }
      </style>

{% endblock %}
