#temp-1 {
  /* text-align: center; */
  /* padding: 20px 20px 20px 20px; */
  background-color: white;
}

.dash-container {
  width: 90%;
  padding: 25px 25px;
  margin: 0 auto;
  max-width: 1200px;
}

.dash-section {
  display: flex;
  padding: 0px 50px 50px 50px ;
}

.dash-row,.row {
  display: flex;
  justify-content: left;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 10px;
  min-height: 75px;
  flex-direction: row;
}

#temp-row-1 {
  justify-content: center;
  padding: 10px 10px 10px 10px;
}


