body {
    font-family: sans-serif;
}

h5 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hp_output {
margin: 10px 10px 10px 10px;
}