* {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
    }
    
    body {
      font-size: 17px;
      color: #333;
      background-color: #21222b;
    }
    
    .gpd-navbar {
      width: 100%;
    }
    
    .gpd-navbar__menu {
      display: none;
    }
    
    #iva9i {
      text-align: center;
      padding: 10px 0 70px 0;
      background-color: white;
    }
    
    .gpd-shape-divider {
      position: absolute;
      width: 100%;
      height: 100px;
      color: black;
      overflow: hidden;
    }
    
    .gpd-shape-divider > svg {
      height: 100%;
      width: 100%;
      transform: scaleY(-1);
    }
    
    .gpd-shape-divider--fl-v-h {
      transform: translateY(-100%);
    }
    
    .gpd-shape-divider--fl-v > svg {
      transform: scaleY(1);
    }
    
    .gpd-shape-divider--fl-h > svg {
      transform: scaleX(-1) scaleY(-1);
    }
    
    .gpd-shape-divider--fl-v-h > svg {
      transform: scaleY(1) scaleX(-1);
    }
    
    .gpd-shape-divider > svg > path {
      fill: currentColor;
    }
    
    .gpd-shape-divider-inv > path {
      transform: scale(-1, -1) translate(-100%, -100%);
    }
    
    #i7r0vq {
      height: 69px;
      color: #21222b;
    }
    
    #im0u3g {
      background-color: #21222b;
      color: white;
      padding: 0 0 0 0;
    }
    
    #iobnhd {
      padding: 0 0 25px 0;
    }
    
    #infzsb {
      align-items: center;
    }
    
    #i0bvnn {
      opacity: 0.4;
    }
    
    #ird0zk {
      font-size: 0.85rem;
    }
    
    #ivi361 {
      height: 1px;
      margin: 10px 10px 10px 10px;
      background-color: rgba(255,255,255,0.05);
    }
    
    #ivyzt7 {
      flex: 0 1 auto;
    }
    
    #itpjjh {
      opacity: 0.7;
      justify-content: flex-end;
    }
    
    #i3s2ua {
      flex: 0 1 auto;
    }
    
    #i35zto {
      width: 34px;
      height: 34px;
    }
    
    #i3im0b {
      flex: 0 1 auto;
    }
    
    #i54mfi {
      width: 34px;
      height: 34px;
    }
    
    #im0u3g:hover {
      background-color: #21222b;
    }
    
    #i7r0vq:hover {
      color: #21222b;
    }
    
    .gpd-navbar {
      width: 100%;
    }
    
    .gpd-navbar__menu {
      display: none;
    }
    
    #iexxr {
      font-size: 0.85rem;
    }
    
    .nav-icon {
      padding: 15px 15px 15px 15px;
      color: #ffffff;
    }
    
    .nav-icon:hover {
      background-color: rgb(133, 196, 187);
      mix-blend-mode: normal;
    }
    
    .footer-social-link:hover {
      background-color: rgb(133, 196, 187);
    }
    
    #iejtb {
      width: 34px;
      height: 34px;
    }
    
    .swiper-slider .swiper-pagination-bullet-active {
      background: currentColor !important;
    }
    
    .swiper-slider .swiper-pagination-progressbar-fill {
      background-color: currentColor !important;
    }
    
    .timeline ul li {
      background: #f9f9ff;
      position: relative;
      margin: 0 auto;
      width: 2px;
      padding-bottom: 40px;
      list-style-type: none;
    }
    
    .timeline ul li:last-child {
      padding-bottom: 7px;
    }
    
    .timeline ul li:before {
      content: '';
      background: #8490ff;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: 20px;
      height: 20px;
      border: 5px solid #eee;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    
    .timeline ul li .hidden {
      opacity: 0;
    }
    
    .timeline ul li .content {
      background-color: white !important;
      box-shadow: 0px 10px 27px 3px rgba(204, 204, 204, 0.2);
      position: relative;
      top: 7px;
      width: 360px;
      padding: 30px;
    }
    
    .timeline ul li .content h4 {
      padding-bottom: 10px;
      text-align: center;
    }
    
    .timeline ul li .content p {
      text-align: center;
      margin-bottom: 5px;
    }
    
    .timeline ul li .content p b {
      color: #222;
    }
    
    .timeline ul li:nth-child(odd) .content {
      left: 50px;
    }
    
    .timeline ul li:nth-child(odd) .content:before {
      left: -38px;
    }
    
    .timeline ul li:nth-child(even) .content {
      left: calc(-360px - 45px);
    }
    
    .timeline ul li:nth-child(even) .content:before {
      right: -38px;
    }
    
    #ittq5m {
      color: black;
      width: 95px;
      height: 96px;
    }
    
    #ik9s62 {
      min-height: 25px;
      min-width: 25px;
    }
    
    #iyq24l {
      flex: 0 1 auto;
    }
    
    #it72qm {
      width: 35px;
      height: 35px;
      cursor: pointer;
    }
    
    #i3o4eb {
      flex: 0 1 auto;
    }
    
    #itl41a {
      transition: width 2s ease;
      width: 38px;
      height: 38px;
    }
    
    #ijdh01 {
      padding: 15px 15px 15px 15px;
      color: #ffffff;
    }
    
    #i531ww {
      width: 38px;
      height: 38px;
      color: #ffffff;
    }
    
    #ij5ao1 {
      padding: 15px 10px 15px 10px;
    }
    
    #i6xoef {
      padding: 5px;
      min-height: 50px;
    }
    
    #i4rdd6 {
      flex: 0 1 auto;
    }
    
    #ijh7u8 {
      justify-content: space-between;
      align-items: center;
      min-height: auto;
    }
    
    #i18vu2 {
      padding: 0;
      margin: 0 8% 0 8%;
    }
    
    #imyamh {
      display: inherit;
    }
    
    #i1bb7d {
      width: 38px;
      height: 38px;
      color: #ffffff;
    }
    
    #iag26u {
      color: #ffffff;
    }
    
    #ic6uek {
      background-color: #ffffff;
      justify-content: space-between;
      padding: 10px 10px 10px 10px;
    }
    
    #ip6sk3 {
      height: 3px;
      margin: 5px 5px 5px 5px;
      background-color: #85868b;
    }
    
    #iiupas {
      margin: 0 8% 0 8%;
    }
    
    #i1rlqj {
      height: 3px;
      background-color: #21222b;
      margin: 0 0 0 0;
    }
    
    #i0dt5a {
      margin: 0 0 0.05% 0;
      color: #000000;
    }
    
    .gpd-box {
      padding: 5px 0;
    }
    
    * {
      box-sizing: border-box;
    }
    
    #if3aka {
      color: #21222b;
    }
    
    #i1xwrg {
      background-color: #ffffff;
    }
    
    .gpd-header {
      margin: 0;
    }
    
    .gpd-clm {
      padding: 5px 0;
    }
    
    #i1gunf {
      padding: 5px 105px 5px 105px;
    }
    
    .gpd-grid {
      min-height: auto;
      padding: 10px 0;
    }
    
    #ifrcw3 {
      background-color: #ffffff;
    }
    
    #ivr5w {
      justify-content: space-evenly;
    }
    
    #ig94b {
      padding: 0 5px 0;
    }
    
    #iedrs {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #itx15 {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #igep8 {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #incuh {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #iuzhh {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ixhq2 {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i2mqj {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #iczin {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ioma4 {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i590a {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #idvfl {
      padding: 0 5px 0;
    }
    
    #iw8jf {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #ic6pe {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i5t83 {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #izzhhz {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ibdx4f {
      padding: 0 5px 0;
    }
    
    #i0175h {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #ird46v {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #i74h9g {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #it4ky7 {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ix0192 {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ixlkoh {
      padding: 0 5px 0;
    }
    
    #ic4uua {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #ifkelp {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #izhfrl {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ifk18j {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #icczov {
      padding: 0 5px 0;
    }
    
    #icn55n {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #i3j0sm {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #iw7wga {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #iq2zft {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i5415g {
      padding: 0 5px 0;
    }
    
    #iy7agf {
      justify-content: space-evenly;
    }
    
    #iuzs29 {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #igxl6x {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #io0iky {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #inunxl {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #imfhck {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #iush92 {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #il51hg {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ium3ch {
      padding: 0 5px 0;
    }
    
    #ir062g {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #iihf2o {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i1madm {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i11dhj {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i010mg {
      padding: 0 5px 0;
    }
    
    #iz1vpe {
      padding: 0 5px 0;
    }
    
    #ix2orf {
      justify-content: space-evenly;
    }
    
    #i3qapt {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #i454y3 {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #idz7dy {
      color: #000000;
    }
    
    #im39q {
      max-width: 100%;
    }
    
    #i11dhj:hover {
      color: #749de7;
    }
    
    #ic6uek:hover {
      color: #749de7;
    }
    
    #incuh:hover {
      color: #749de7;
    }
    
    #iuzhh:hover {
      color: #749de7;
    }
    
    #ixhq2:hover {
      color: #749de7;
    }
    
    #ic6pe:hover {
      color: #749de7;
    }
    
    #i5t83:hover {
      color: #749de7;
    }
    
    #izzhhz:hover {
      color: #749de7;
    }
    
    #ioma4:hover {
      color: #749de7;
    }
    
    #iczin:hover {
      color: #749de7;
    }
    
    #i590a:hover {
      color: #749de7;
    }
    
    #i74h9g:hover {
      color: #749de7;
    }
    
    #it4ky7:hover {
      color: #749de7;
    }
    
    #ix0192:hover {
      color: #749de7;
    }
    
    #ifkelp:hover {
      color: #749de7;
    }
    
    #izhfrl:hover {
      color: #749de7;
    }
    
    #ifk18j:hover {
      color: #749de7;
    }
    
    #i3j0sm:hover {
      color: #749de7;
    }
    
    #iw7wga:hover {
      color: #749de7;
    }
    
    #iq2zft:hover {
      color: #749de7;
    }
    
    #imfhck:hover {
      color: #749de7;
    }
    
    #iush92:hover {
      color: #749de7;
    }
    
    #il51hg:hover {
      color: #749de7;
    }
    
    #iihf2o:hover {
      color: #749de7;
    }
    
    #i1madm:hover {
      color: #749de7;
    }
    
    #ird2l8 {
      margin: 0 0 0.05% 0;
      color: #000000;
    }
    
    #ilkofw {
      height: 3px;
      background-color: #21222b;
      margin: 0 0 0 0;
    }
    
    #igkfzn {
      color: #000000;
    }
    
    #ivy0wu {
      margin: 0 8% 0 8%;
    }
    
    #im7v1m {
      background-color: #ffffff;
      justify-content: space-between;
      padding: 10px 10px 10px 10px;
    }
    
    #im7v1m:hover {
      color: #749de7;
    }
    
    #idz7dy:hover {
      color: #749de7;
    }
    
    #i3mddf {
      padding: 0 0 0 0;
    }
    
    #ir10j6 {
      padding: 0 0 0 0;
    }
    
    #iw5irh {
      padding: 0 0 0 0;
    }
    
    #i0wvsv {
      padding: 0 0 0 0;
    }
    
    #ibtuxk {
      padding: 0 0 0 0;
    }
    
    #i37ffr {
      padding: 0 0 0 0;
    }
    
    #i300ap {
      padding: 0 0 0 0;
    }
    
    #i76vpl {
      padding: 0 0 0 0;
    }
    
    #iymfca {
      padding: 0 0 0 0;
    }
    
    #irnnd6 {
      padding: 0 0 0 0;
    }
    
    #iurmdi {
      padding: 0 0 0 0;
    }
    
    #ih1thf {
      padding: 0 0 0 0;
    }
    
    #ivycnx {
      padding: 0 0 0 0;
    }
    
    #icb4rn {
      padding: 0 0 0 0;
    }
    
    #ii580y {
      padding: 0 0 0 0;
    }
    
    #i9kbmh {
      padding: 0 0 0 0;
    }
    
    #ipse46 {
      padding: 0 0 0 0;
    }
    
    #ic2h2g {
      padding: 0 0 0 0;
    }
    
    #ims66u {
      padding: 0 0 0 0;
    }
    
    #irz6hj {
      padding: 0 0 0 0;
    }
    
    #iyi4ft {
      padding: 0 0 0 0;
    }
    
    #is9puh {
      padding: 0 0 0 0;
    }
    
    #i75dbn {
      padding: 0 0 0 0;
    }
    
    #ipolsa {
      padding: 0 0 0 0;
    }
    
    #iq0017 {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #i1vwkh {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #i1vwkh:hover {
      color: #749de7;
    }
    
    #icd81v {
      padding: 0 0 0 0;
    }
    
    #isqvfh {
      max-width: 100%;
    }
    
    #i554ap {
      padding: 0 5px 0;
    }
    
    #iuje0i {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #iupui3 {
      padding: 0 0 0 0;
    }
    
    #i9pgbq {
      padding: 0 5px 0;
    }
    
    #i10m9d {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #io3vqt {
      padding: 0 0 0 0;
    }
    
    #iq87t9 {
      padding: 0 5px 0;
    }
    
    #iwmgbm {
      justify-content: space-evenly;
    }
    
    #i7p7z1 {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #ii75uv {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #ia3wjc {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #i1tswj {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #iahxgl {
      padding: 0 0 0 0;
    }
    
    #i0f1om {
      max-width: 100%;
    }
    
    #i5353c {
      padding: 0 5px 0;
    }
    
    #itybcc {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #iss6sg {
      padding: 0 0 0 0;
    }
    
    #i1r1ap {
      padding: 0 5px 0;
    }
    
    #ivjtoq {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #i0hja4 {
      padding: 0 0 0 0;
    }
    
    #ikjyht {
      padding: 0 5px 0;
    }
    
    #iunndx {
      justify-content: space-evenly;
    }
    
    #imzpjn {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #imzpjn:hover {
      color: #749de7;
    }
    
    #iqb0ml {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #iqb0ml:hover {
      color: #749de7;
    }
    
    #immhf5 {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #immhf5:hover {
      color: #749de7;
    }
    
    #iyon6a {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #iyon6a:hover {
      color: #749de7;
    }
    
    #izav5c {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #izav5c:hover {
      color: #749de7;
    }
    
    #i68z4v {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #ivccxb {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #itw2fi {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #ie1dyj {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #ipjrgz {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ipjrgz:hover {
      color: #749de7;
    }
    
    #iqls1h {
      padding: 0 0 0 0;
    }
    
    #imb9qz {
      max-width: 100%;
    }
    
    #ibgoep {
      padding: 0 5px 0;
    }
    
    #izo0dq {
      min-width: 25px;
      margin: 0 20% 0 20%;
      padding: 0 0 0 0;
    }
    
    #ibvmrx {
      margin: 0 0 0 20%;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    
    #ibvmrx:hover {
      color: #749de7;
    }
    
    #iqswaq {
      padding: 0 0 0 0;
    }
    
    #itymx5 {
      padding: 0 5px 0;
    }
    
    #i73jgf {
      padding: 0 5px 0;
    }
    
    #i5tkjj {
      justify-content: space-evenly;
    }
    
    #ijslzl {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #iljvjm {
      color: black;
      width: 216px;
      height: 216px;
    }
    
    #ihtrbh {
      width: 38px;
      height: 38px;
    }
    
    #icgb21 {
      width: 38px;
      height: 38px;
    }
    
    .tooltip-component {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }
    
    .tooltip-component__body, [data-tooltip]::after {
      font-family: Helvetica, sans-serif;
      background: rgba(55, 61, 73, 0.95);
      border-radius: 3px;
      bottom: 100%;
      color: #fff;
      content: attr(data-tooltip);
      display: block;
      font-size: 12px;
      left: 50%;
      line-height: normal;
      max-width: 32rem;
      opacity: 0;
      overflow: hidden;
      padding: 8px 16px;
      pointer-events: none;
      position: absolute;
      text-overflow: ellipsis;
      transform: translate(-50%, 0);
      transition: opacity 0.25s, transform 0.25s;
      white-space: nowrap;
      box-sizing: border-box;
      z-index: 10;
    }
    
    [data-tooltip-visible=true]::after, [data-tooltip]:focus::after, [data-tooltip]:hover::after {
      opacity: 1;
      transform: translate(-50%, -0.5rem);
    }
    
    [data-tooltip-pos=right]::after {
      bottom: 50%;
      left: 100%;
      transform: translate(0, 50%);
    }
    
    [data-tooltip-pos=right]:focus::after, [data-tooltip-pos=right]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=right]::after {
      transform: translate(0.5rem, 50%);
    }
    
    [data-tooltip-pos=bottom]::after {
      bottom: auto;
      top: 100%;
      transform: translate(-50%, 0);
    }
    
    [data-tooltip-pos=bottom]:focus::after, [data-tooltip-pos=bottom]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=bottom]::after {
      transform: translate(-50%, 0.5rem);
    }
    
    [data-tooltip-pos=left]::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      transform: translate(0, 50%);
    }
    
    [data-tooltip-pos=left]:focus::after, [data-tooltip-pos=left]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=left]::after {
      transform: translate(-0.5rem, 50%);
    }
    
    [data-tooltip-length=small]::after {
      white-space: normal;
      width: 80px;
    }
    
    [data-tooltip-length=medium]::after {
      white-space: normal;
      width: 150px;
    }
    
    [data-tooltip-length=large]::after {
      white-space: normal;
      width: 300px;
    }
    
    [data-tooltip-length=fit]::after {
      white-space: normal;
      width: 100%;
    }//IE 11 bugfix
          button[data-tooltip] {
      overflow: visible;
    }
    
    @keyframes fade {
      from {
        opacity: .4;
      }
    
      to {
        opacity: 1;
      }
    }
    
    @media screen and (max-width: 1020px) {
      .timeline ul li .content {
        width: 41vw;
      }
    
      .timeline ul li:nth-child(even) .content {
        left: calc(-41vw - 45px);
      }
    }
    
    @media (max-width: 768px) {
      .gpd-navbar__menu {
        display: block;
      }
    
      .gpd-navbar__items {
        display: none;
        width: 100%;
      }
    
      #itpjjh {
        justify-content: center;
      }
    
      #i0bvnn {
        order: 2;
        text-align: center;
      }
    
      .gpd-navbar__menu {
        display: block;
      }
    
      .gpd-navbar__items {
        display: none;
        width: 100%;
      }
    
      #i4rdd6:hover {
        flex-basis: 1auto;
      }
    
      #iiupas {
        flex: 1 1 100%;
      }
    
      #ivy0wu {
        flex: 1 1 100%;
      }
    }
    
    @media screen and (max-width: 700px) {
      .timeline ul li {
        margin-left: 20px;
      }
    
      .timeline ul li .content {
        width: calc(100vw - 100px);
      }
    
      .timeline ul li .content h2 {
        text-align: initial;
      }
    
      .timeline ul li:nth-child(even) .content {
        left: 45px;
      }
    
      .timeline ul li:nth-child(even) .content:before {
        left: -33px;
      }
    }
    
    @media (max-width: 415px) {
      #iiupas {
        padding: 0 10% 0 10%;
        align-self: stretch;
        margin: 0 0 0 0;
      }
    
      #ic6uek {
        padding: 10% 10% 10% 10%;
      }
    
      #ieahds {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        min-height: auto;
        width: 100%;
      }
    
      #i1gunf {
        padding: 0 0 0 0;
      }
    
      #i0dt5a {
        margin: 0 10% 0 10%;
      }
    
      #i1rlqj {
        margin: 5px 0 5px 0;
      }
    
      #im39q {
        text-align: left;
      }
    
      #ig94b {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #ie3b1 {
        text-align: left;
      }
    
      #idvfl {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #i9muxx {
        text-align: left;
      }
    
      #ibdx4f {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #ik1xaf {
        text-align: left;
      }
    
      #ixlkoh {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #iabi1x {
        text-align: left;
      }
    
      #icczov {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #iur1aw {
        text-align: left;
      }
    
      #i5415g {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #itvwxw {
        text-align: left;
      }
    
      #ium3ch {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #inqouz {
        text-align: left;
      }
    
      #i010mg {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #iz1vpe {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #ird2l8 {
        margin: 0 10% 0 10%;
      }
    
      #ilkofw {
        margin: 5px 0 5px 0;
      }
    
      #iru9yi {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        min-height: auto;
        width: 100%;
      }
    
      #ivy0wu {
        padding: 0 10% 0 10%;
        align-self: stretch;
        margin: 0 0 0 0;
      }
    
      #im7v1m {
        padding: 10% 10% 10% 10%;
      }
    
      #i0175h {
        min-height: 100%;
        width: 216px;
        height: 216px;
      }
    
      #isqvfh {
        text-align: left;
      }
    
      #i554ap {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #i91k0i {
        text-align: left;
      }
    
      #i9pgbq {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #idzwui {
        text-align: left;
      }
    
      #iq87t9 {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #i0f1om {
        text-align: left;
      }
    
      #i5353c {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #i7sc1h {
        text-align: left;
      }
    
      #i1r1ap {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #i28kkd {
        text-align: left;
      }
    
      #ikjyht {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #imb9qz {
        text-align: left;
      }
    
      #ibgoep {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #i2k88s {
        text-align: left;
      }
    
      #itymx5 {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    
      #i73jgf {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        text-align: left;
      }
    }
    
    @media (max-width: 375px) {
      #ittq5m {
        width: 81px;
        height: 82px;
      }
    
      #it72qm:hover {
        width: 35px;
        height: 35px;
      }
    
      #i4rdd6:hover {
        flex-basis: 1auto;
      }
    
      #ic6uek {
        width: 100%;
        justify-content: flex-start;
      }
    
      #iiupas {
        max-width: 100%;
      }
    
      #ivy0wu {
        max-width: 100%;
      }
    
      #im7v1m {
        width: 100%;
        justify-content: flex-start;
      }
    }