.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}


.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

#react-entry-point {
    padding: 50 50 50 200;
    background-color: white;
  }