<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">
    <link href="static/personal.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--CSS From Example Personal Website -->
    <link href="{{ url_for('static', filename='linearicons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='nice-select.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

  </head>


    <!-- Navigation -->


    <!-- Page Header -->
      

    <header>
      <div>
        <img src="{{ url_for('static', filename='other_banner.png') }}" alt="almostdatascience" width=100% height=20%>
      </div>
    </header>

      <!-- Navigation  -->
  <div class="bestNav">
  </style>
    <ul >
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="https://drive.google.com/file/d/1aUZPpfrpLv7G0UI3nHK3JI8MjdbALP2E/view?usp=sharing">Resume</a></li>
    </ul>
  </div>

  <body>
  
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 row justify-content-md-center">
            <div id="text-main" class="col-9 text-main" style="visibility: visible;right: 0%;opacity: 1;">

              <div class="justify-content-md-center col-centered">
                <h1>Adam Klaus</h1>
                  <p class="intro">I'm a product designer based in sunny Sydney, Australia.</p>
                  <p>I enjoy turning complex problems into simple, beautiful and intuitive designs. When I'm not coding, tweeting or pushing pixels, you'll find me cooking, gardening or working out in the park.</p>
                    
                  <p>
                    <figure>
                      <img src="{{ url_for('static', filename='IMG_5085.jpg') }}" alt="almostdatascience" width=100% height=20%>
                    </figure>
                  </p>
              </div>
    
            </div>            
          </div>

          <!-- Timeline -->          
          <div class="col-lg-8 text-main">
            <section class="timeline pt-80 pb-80">

              <div class="text-center">
                  <div class="menu-content pb-40">
                      <div class="title text-center">
                          <h1 class="mb-10">My Experience</h1>
                      </div>
                  </div>
              </div>
          <ul>
            <li>
              <div class="content hidden" style="opacity: 1;">
                <h4>
                  <time>M.S. in Data Science</time>
                </h4>
                <p><b>DePaul University </b></p>
                <p>Exp. Graduation 2022</p>
              </div>
            </li>
            <li>
              <div class="content hidden" style="opacity: 1;">
                <h4>
                  <time>Consultant / Developer</time>
                </h4>
                <p><b><a href="https://www.humancapital.com/">Human Capital Research Corporation</a></b></p>
                <p>October 2018 - Present</p>
              </div>
            </li>
            <li>
              <div class="content hidden" style="opacity: 1;">
                <h4>
                  <time>Healthcare Staff Consultant</time>
                </h4>
                <p><b>Baker Tilly</b></p>
                <p>June 2018 - October 2018</p>
              </div>
            </li>
            <li>
            <div class="content hidden" style="opacity: 1;">
              <h4>
                <time>B.B.A. in Finance and Operations & Technology Management</time>
              </h4>
              <p><b>University of Wisconsin-Madison</b></p>
              <p>September 2014 - May 2018</p>
            </div>
          </li>
          <li>
            <div class="content hidden" style="opacity: 1;">
              <h4>
                <time>Student Tableau Developer</time>
              </h4>
              <p><b>UW-Madison Academic Planning & Institutional Research</b></p>
              <p>January 2018 - June 2018</p>
            </div>
          </li>
          <li>
            <div class="content hidden" style="opacity: 1;">
              <h4>
                <time>Summer Analyst</time>
              </h4>
              <p><b>JPMorgan Chase & Co.</b></p>
              <p>June 2017 - August 2017</p>
            </div>
          </li>
        
          </ul>
        </section>
          </div>
      </div>
  </div>

  <div class="row">
    <div id="text-main" class="col-1 text-main" style="visibility: visible; right: 0%; opacity: 1;">

  
  </div>

  <div id="img-main" class="col-7 align-c" style="visibility: visible; left: 0%; opacity: 1;">

  <!-- Main Content -->


</body>


    <!-- Footer -->
    <footer>

      <div class="col-md-6">
        <p class="copyright text-muted">Copyright &copy; almostdatascience.com 2020</p>
      </div>

  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>


    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

  

</html>
