
<div id="igeai" class="gpd-navbar main-nav-bar">
    <div id="i33xc" class="gpd-container">
      <div id="i54ff" class="gdp-row">
        <div id="iok7h" class="cell logo-box">
          <a href="/" id="ie6up" class="gpd-link-box main-logo-box">
            <img id="iockf" src="https://cdn.grapedrop.com/u0e8c2eda803f4757a1488f6bc8b68881/3523ba756d344863bb3b7e2fea8052dc_adc_logo.png"/>
          </a>
          <div id="i56s7" class="gpd-text">Almost
            <br>Data
            <br>​​​​​​​Science
            <br>
          </div>
        </div>


        <div id="ij7oc" class="cell gpd-navbar__items">
          <div id="i4dfto">
            <a id="izkljc" href="/" class="gpd-link-box nav-icon">
              <span id="i8thax" class="gpd-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z">
                  </path>
                </svg>
              </span>
            </a>

            <a href="/about" class="gpd-link-box nav-icon">
              <div data-tooltip="Experience" class="tooltip-component">
                <span class="gpd-icon" id="ihtrbh">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2z">
                    </path>
                  </svg>
                </span>
              </div>
            </a>
            
            <a href="/favorites" class="gpd-link-box nav-icon">
              <div data-tooltip="My Favorite Things" class="tooltip-component">
                <span class="gpd-icon" id="icgb21">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M17 18.25v3.25H7v-3.25c0-1.38 2.24-2.5 5-2.5s5 1.12 5 2.5M12 5.5a6.5 6.5 0 0 1 6.5 6.5c0 1.25-.35 2.42-.96 3.41L16 14.04c.32-.61.5-1.31.5-2.04 0-2.5-2-4.5-4.5-4.5s-4.5 2-4.5 4.5c0 .73.18 1.43.5 2.04l-1.54 1.37c-.61-.99-.96-2.16-.96-3.41A6.5 6.5 0 0 1 12 5.5m0-4c5.8 0 10.5 4.7 10.5 10.5 0 2.28-.73 4.39-1.96 6.11l-1.5-1.35c.92-1.36 1.46-3 1.46-4.76 0-4.69-3.81-8.5-8.5-8.5-4.69 0-8.5 3.81-8.5 8.5 0 1.76.54 3.4 1.46 4.76l-1.5 1.35A10.473 10.473 0 0 1 1.5 12C1.5 6.2 6.2 1.5 12 1.5m0 8a2.5 2.5 0 0 1 0 5 2.5 2.5 0 0 1 0-5z">
                    </path>
                  </svg>
                </span>
              </div>
            </a>


            
            <a id="ipnudr" href="https://github.com/atklaus" target="_blank" class="gpd-link-box nav-icon">
              <span id="iyoxl" class="gpd-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M5 3h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2h-4.44c-.32-.07-.33-.68-.33-.89l.01-2.47c0-.84-.29-1.39-.61-1.67 2.01-.22 4.11-.97 4.11-4.44 0-.98-.35-1.79-.92-2.42.09-.22.4-1.14-.09-2.38 0 0-.76-.23-2.48.93-.72-.2-1.48-.3-2.25-.31-.76.01-1.54.11-2.25.31-1.72-1.16-2.48-.93-2.48-.93-.49 1.24-.18 2.16-.09 2.38-.57.63-.92 1.44-.92 2.42 0 3.47 2.1 4.22 4.1 4.47-.26.2-.49.6-.57 1.18-.52.23-1.82.63-2.62-.75 0 0-.48-.86-1.38-.93 0 0-.88 0-.06.55 0 0 .59.28 1 1.32 0 0 .52 1.75 3.03 1.21l.01 1.53c0 .21-.02.82-.34.89H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2z">
                  </path>
                </svg>
              </span>
            </a>
            <a id="inffs" href="https://www.linkedin.com/in/adam-klaus/" target="_blank" class="gpd-link-box nav-icon">
              <span id="i0x1a" class="gpd-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M19 3c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h14m-.5 15.5v-5.3c0-1.8-1.46-3.26-3.26-3.26-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4.77 0 1.4.63 1.4 1.4v4.93h2.79M6.88 8.56a1.686 1.686 0 0 0 0-3.37c-.93 0-1.69.76-1.69 1.69 0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z">
                  </path>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section id="itf5s" class="gpd-section"></section>
    <div id="i7qq5v" class="gpd-shape-divider gpd-shape-divider--fl-v-h" data-gjs-type="shape-divider" data-gjs-resizable="[object Object]" data-gjs-shape-divider="low-hills-split" data-gjs-flip-vert data-gjs-flip-horiz data-gjs-custom-name="Shape divider">
      <svg preserveAspectRatio="none" viewBox="0 0 240 24">
        <path fill-opacity=".3" d="M240 24V0c-51.8 0-69.9 13.2-94.7 15.6-24.7 2.4-43.9-1.2-63.8-1-19.1 0-31.2 3.6-51.3 6.5A126 126 0 010 22V24h240z"/>
        <path fill-opacity=".3" d="M240 24V2.2c-51.8 0-69.9 12-94.7 14.2-24.7 2.1-43.9-1.1-63.8-1-19.1 0-31.2 3.3-51.3 6-14.6 1.8-25.9 1.2-30.2.8V24h240z"/>
        <path d="M240 24V3.7c-51.8 0-69.9 11.7-94.7 14-24.7 2.4-43.9-3.2-63.8-3.1-19.1 0-31.2 3.6-51.3 6.5a128 128 0 01-30.2 1V24h240z"/>
      </svg>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("ij7oc");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
      